<body>
{% extends 'base.html' %}
{% block content %}
<!-- Product section-->
<body>
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">*기존 상품*</h1>
            <p class="lead fw-normal text-white-50 mb-0">A Company</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="https://us.123rf.com/450wm/diy13/diy131904/diy13190400853/121395845-blue-milk-shake-beautiful-dessert-in-the-restaurant-white-ice-cream-on-the-table-in-the-cafe-with-a.jpg?ver=6" alt="..." width="300" height="150"/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">파라솔 칵테일</h5>
                            <!-- Product price-->
                            5,000원
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">상품 보러가기</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale
                    </div>
                    <!-- Product image-->
                    <img class="card-img-top" src="https://us.123rf.com/450wm/yganko/yganko2303/yganko230303687/200745224-%ED%95%B4%EB%B3%80%EC%97%90-%EC%96%BC%EC%9D%8C%EA%B3%BC-%EB%A0%88%EB%AA%AC-%EC%A1%B0%EA%B0%81%EC%9D%84-%EB%84%A3%EC%9D%80-%EC%B0%A8%EA%B0%80%EC%9A%B4-%EC%9D%8C%EB%A3%8C-%EC%9D%BC%EB%9F%AC%EC%8A%A4%ED%8A%B8-%EC%83%9D%EC%84%B1-ai.jpg" alt="..." width="300" height="150"/>
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">사막 칵테일</h5>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">5,500원</span>
                            4,900원
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">상품 보러가기</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale
                    </div>
                    <!-- Product image-->
                    <img class="card-img-top" src="https://us.123rf.com/450wm/bbtreesubmission/bbtreesubmission2209/bbtreesubmission220901534/191111678-%EC%97%AC%EB%A6%84-%EC%9D%8C%EB%A3%8C-%EB%B0%B0%EA%B2%BD-%EC%95%84%EC%9D%B4%EC%8A%A4-%EC%95%84%EB%A9%94%EB%A6%AC%EC%B9%B4%EB%85%B8-%EB%98%90%EB%8A%94-%EC%96%91%EC%A1%B0-%EC%BB%A4%ED%94%BC.jpg" alt="..." width="300" height="150"/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">아이스 아메리카노</h5>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">4,500원</span>
                            3,900원
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">상품 보러가기</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="https://us.123rf.com/450wm/yuliaff/yuliaff1603/yuliaff160300064/53059569-%EC%9E%90%EB%AA%BD%EA%B3%BC-%EC%96%BC%EC%9D%8C%EC%9C%BC%EB%A1%9C-%EC%97%AC%EB%A6%84-%EC%9D%8C%EB%A3%8C-%EC%84%A0%ED%83%9D%EC%A0%81-%EC%B4%88%EC%A0%90.jpg" alt="..." width="300" height="150"/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">자몽 에이드</h5>
                            <!-- Product price-->
                            5,300원
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">상품 보러가기</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale
                    </div>
                    <!-- Product image-->
                    <img class="card-img-top" src="https://us.123rf.com/450wm/balinature/balinature1712/balinature171200200/91782585-%EC%84%9D-%ED%9A%8C%EC%99%80-%EB%A0%88%EB%AA%AC-%EC%98%A4%EC%9D%B4-%EC%9D%8C%EB%A3%8C%EB%A5%BC-%EC%83%88%EB%A1%9C-%EA%B3%A0%EC%B9%A9%EB%8B%88%EB%8B%A4-%EC%B2%9C%EC%97%B0-%EC%9D%8C%EB%A3%8C.jpg" alt="..." width="300" height="150"/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">천연 드링크</h5>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">3,500원</span>
                            3,000원
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">상품 보러가기</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="https://us.123rf.com/450wm/svetlanacherruty/svetlanacherruty2105/svetlanacherruty210500046/169205763-%EB%B0%B0%EA%B2%BD%EC%83%89%EC%97%90-%EC%98%A4%EB%A0%8C%EC%A7%80%EC%99%80-%EB%9D%BC%EC%9E%84-%EC%A1%B0%EA%B0%81%EC%9D%84-%EB%84%A3%EC%9D%80-%EC%97%AC%EB%A6%84-%EB%A0%88%EB%AA%A8%EB%84%A4%EC%9D%B4%EB%93%9C-%EB%98%90%EB%8A%94-%EC%B9%B5%ED%85%8C%EC%9D%BC-%EC%83%81%EC%BE%8C%ED%95%9C.jpg" alt="..." width="300" height="150"/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">오라 에이드</h5>
                            <!-- Product price-->
                            6,000원
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">상품 보러가기</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale
                    </div>
                    <!-- Product image-->
                    <img class="card-img-top" src="https://mblogthumb-phinf.pstatic.net/MjAyMTA2MTdfOTYg/MDAxNjIzOTM4Mzc0NDQ2.YQCXh-H506EO4KKFb89kTsDLChj72purhKnw_9sB_kcg.hC2Ztmacwr6b7kToK18R2VLwSZ0HY-E0Wu3Bi6CWR_sg.JPEG.alfksl38/SE-272a7131-a6c8-45a3-8d01-a12d597cd6c2.jpg?type=w800" alt="..." width="300" height="150"/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">아이스티</h5>
                            <!-- Product reviews-->
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">2,000원</span>
                            1,500원
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">상품 보러가기</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="https://us.123rf.com/450wm/ab7272/ab72722103/ab7272210300185/166679812-%EB%8B%AC%EA%B3%A0%EB%82%98-%EB%AF%B8%EC%88%98%EB%A3%A8-%EB%9D%BC%EB%96%BC-%ED%95%9C%EA%B5%AD-%EC%83%81%EC%BE%8C%ED%95%9C-%EC%9D%8C%EB%A3%8C-%EC%9D%B8%EA%B8%B0-%EC%9E%88%EB%8A%94-%EC%95%84%EC%B9%A8-%EC%9D%8C%EB%A3%8C-%EC%9D%B8%EC%8A%A4%ED%84%B4%ED%8A%B8-%EC%BB%A4%ED%94%BC-%EA%B0%88%EC%83%89-%EB%B0%B0%EA%B2%BD-%EB%B3%B5%EC%82%AC.jpg" alt="..." width="300" height="150"/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">달고나 라떼</h5>
                            <!-- Product price-->
                            2,700원
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">상품 보러가기</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
</body>