{% extends 'base.html' %}
{% block content %}
<body>
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"
                                       src="https://i.namu.wiki/i/DZqw2ZRDJGda2Ss4_7bsf7aAx3wyqomyvpm5JThJ7yJjAKv0jUmURo0z1qzu_68Btg67-MLMcJzcAJxmHGdB_2bwOQ9-jFIoLwyb8vYQKvGzT3PZkfc6OACnucp5eqxPby2T0QNecgTH7ubuyoP1Ww.webp" alt="..." width="600" height="600"/></div>
            <div class="col-md-6">
                <div class="small mb-1">시즌3 : 여름.ver</div>
                <h1 class="display-5 fw-bolder">보류</h1>
<!--                {{ content_list.title }}-->
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through">*회원가 : 1,900원* \\</span>
                    <span>*비회원가 : 2,400원*</span>
                </div>
                <p class="lead">보류</p>
            </div>
        </div>
    </div>
</section>
</body>
{% endblock %}