<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"
                                       src="https://www.bing.co.kr/upload/product/2022/12/050a095f-5a2d-469e-8ac3-818ce360c712.png" alt="..." width="600" height="600"/></div>
            <div class="col-md-6">
                <div class="small mb-1">시즌3 : 여름.ver</div>
                <h1 class="display-5 fw-bolder">바나나맛 우유</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through">*회원가 : 1,900원* \\</span>
                    <span>*비회원가 : 2,400원*</span>
                </div>
                <strong><p class="lead fw-bold">무더운 여름에 새롭게 출시한 바나나맛 우유입니다!</p></strong>
            </div>
        </div>
    </div>
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">추가 신규상품</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="https://i.namu.wiki/i/OZU8dt4HAwg05_HQtcSIj9mX3tcgkY0bowOvo5fKRy9BQ3tj6b0kJJ2-VUGlJj6T-G68SKP9LB_uQhOGdD5iwo91IwZtJLP3vsZNpoFlWI3hDZo9ojAjej4bKotbC_9NwqY4K-HR_x9QeB8BuB25FQ.webp" alt="..." width="450" height="300"/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">바나나 우유 Light</h5>
                            <!-- Product price-->
                            2,000원
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">제품 보러가기</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale
                    </div>
                    <!-- Product image-->
                    <img class="card-img-top" src="https://i.namu.wiki/i/VwdZBtE2pkRGnvRVEB8PtX24SxKd-wZFRDsGB_kNn7iHyyIr9ZZnF4lbh_O2upztRvSjCKwF_VE3qPc4OYj5-MCx56Mlv-mpGMiKYqDtipQ8LpaA_nQjIFQLTj61cqeMIsJ8K814YNts2IxV4bZvFA.webp" alt="..." width="450" height="300"/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">딸기맛 우유</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">2,500원</span>
                            2,000원
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">제품 보러가기</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale
                    </div>
                    <!-- Product image-->
                    <img class="card-img-top" src="https://i.namu.wiki/i/9DrPTH1I4_rKyTn3_weZ4vNdtLihoUzsXADp0NMsd5Iwq3cGMLLMWhhq8gpRdMUbtkxvYBY2gxj90OsBSjHkZmO2XsRtZiYeRq_t7Tg3ArEj3QaaEe56bg1EbHNzD5wHLDBZyMyjfKQCJq1yVtlR2Q.webp" alt="..." width="450" height="300"/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">메로나맛 우유</h5>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">3,000원</span>
                            2,500원
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">제품 보러가기</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="https://i.namu.wiki/i/8qa230h6we-jnzdbrQQAEh1ditpWMjEEyTXnNKw0RHcbBW_2WguAWbvRXB4Vjat62OQbuuFZzdx51tM6_AZGH684W4Oxsh2s71OY6yAOAqIsxYVrMnoLL9p5RBHn95FHOcKGogv6qX_XBWC6Zci-6g.webp" alt="..." width="450" height="300"/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">투게더맛 우유</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            4,500원
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">제품 보러가기</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
</body>
</html>
